%option-group{name: 'basic', visible: true}
  %div
    {{ }}
    %text-property{path: 'tab.question'}
    %text-property{path: 'tab.answer_length', 'ng-show' => "tab.answer_classes.indexOf('instagram') == -1"}
    %text-property{path: 'tab.instagram_hashtag', 'ng-show' => "tab.answer_classes.indexOf('instagram') != -1"}

    %upload-image{'res-path' => 'images.thumbnail'}


