%div
  %option-group{name: 'opengraph_tab', visible: true}
    %div{'ng-controller' => 'OpengraphTabCtrl'}
      %text-property{path: 'tab.og_title', dict: 'opengraph_tab_t.og_title', model: 'opengraph_tab.og_title'}
      %text-property{path: 'tab.og_description', dict: 'opengraph_tab_t.og_description', model: 'opengraph_tab.og_description'}
      %upload-image{'res-path' => 'images.og_image'}
  = render "tabs/#{@tab_type}/admin/basic_local"

  - if @tab_class.is_contest?
    = render 'wa/contest_time'
    %option-group{name: 'policy', visible: true}
      %upload-file{'res-path' => 'contest.policy', :dict => 'contest_policy'}
    %option-group{name: 'mailing', visible: true}
      %div{'ng-switch' => 'true', on: "tabbed.selected", tabbed: "mailing"}
        %radio-button{path: 'tab.mailing.enabled', list: Select::ON_OFF.to_json, 'tabbed-id' => "mailing", dict: 'collect_emails'}
        %div{'ng-show'=> "tabbed.selected == 'true'"}
          %text-property{path: 'tab.mailing.label', dict: 'mailing_label'}
          %radio-button{path: 'tab.mailing.required', list: Select::ON_OFF.to_json, dict: 'mailing_required'}
  %option-group{name: 'stats', visible: true}
    %text-property{path: 'tab.setting.analytics'}
