-#- design = @co.tab.design
%div.corners-parent{'ng-controller' => "DesignCtrl"}
  %div{'ng-show' => "tab.design.layout.type == 'frame'"}
    -#- if @co.tab.design.layout['type'] == 'frame'
    -#%color-picker{dict: 'design.main-color', path: 'tab.design.items.main-color'}
    -#= wa 'color', {name: 'design.main-color', path: 'tab.design.items.main-color'}
    %h4= t 'header_image'
    %upload-image{'res-path' => 'images.header'}
    %h4= t 'background_pattern'
    %background-pattern{path: 'tab.design.items.background-image'}
    -#= wa 'upload_image', {res_path: 'images.header'}
    %color-picker{dict: 'design.menu_color', path: 'tab.design.items.main-color'}
    %select-font{dict: 'design.text_font', path: 'tab.design.items.text-font'}
    %select-font{dict: 'design.menu_font', path: 'tab.design.items.menu-font'}
    %select-font{dict: 'design.header_font', path: 'tab.design.items.header-font'}
  %div{'ng-show' => "tab.design.layout.type == 'minimal'"}
    %h4= t 'header_image'
    %upload-image{'res-path' => 'images.header'}
    %h4= t 'background_pattern'
    %background-pattern{path: 'tab.design.items.background-image'}
    %color-picker{dict: 'design.main-color', path: 'tab.design.items.main-color'}
