.partial-manager
  .partial-editor-list
    %option-group{name: 'fangate', visible: true}
      = wa 'fangate'
    %div{'ng-show' => "tab.design.layout.type == 'frame'"}
      %partial-editor{'group-name' => 'contest_start', 'res-path' => "partials.start"}
      -#= wa 'partial_editor',
      -#- subpages = @co.tab.res['partials']['subpages']
      .list-inner
        %partial-editor{'ng-repeat' => 'k in range(tab.res.partials.subpages.length)', 'group-name' => 'subpage',
        'res-path' => "partials.subpages.{{k}}"}

        -#= wa 'partial_editor', {k: k, group_name: "subpage#{k+1}", res_path: "partials.subpages.#{k}"}
        -#- if subpages
        -#  - for k in 0..subpages.size-1 do
            = wa 'partial_editor', {k: k, group_name: "subpage#{k+1}", res_path: "partials.subpages.#{k}"}
      %button.btn.btn-success{"ng-click" => "add()"}
        %i.icon-plus.icon-white
        = t 'add_subpage'
    -#- if @co.tab.tab_type == 'static'
      %option-group{name: 'content', visible: true}
        = wa 'partial', {id: 'partials.content'}
