.div{'ng-controller'=>"PublishCtrl"}
  %h5
    = "#{t 'universal_link.label'}:"
    %a(href="{{tab.universal_link}}") {{tab.universal_link}}
  %h5(style="margin-bottom: 4px; line-height: 1em")= t 'publish_t.important'
  %p= raw (t 'publish_t.important_msg')
  %div{style: "margin: 15px 0px"}
    %div
      = raw(t 'publish_t.installed_info')
      <button ng-show="installed" ng-click="uninstallTab()" class="btn">
      %i.icon-remove
      = t 'uninstall'
      </button>
      <button ng-show="!installed" ng-click="installTab()" class="btn">
      %i.icon-plus
      = t 'install'
      </button>
  %div
    = raw(t 'publish_t.to_share_info')
