%div
  %h5=t 'opengraph.header'
  %ul.icons-ul{'ng-show' => "tab.tab_type == 'memo_contest'"}
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.played_game'}</li>
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.best_score'}</li>
  %ul.icons-ul{'ng-show' => "tab.tab_type == 'answer_contest'"}
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.add_answer'}</li>
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.vote'}</li>
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.like'}</li>
    <li><i class="icon-li icon-ok"></i>#{t 'opengraph.comment'}</li>
  - if false && @co.tab.setting.feeds != {}
    -#wa_opt 'begin_group', {id: 'posts', visible: true, cls: 'no-bg'} %>
    -#@co.tab.setting.feeds.each do |id, feed|
    -#    wa 'post_feed', {id: id} %>
    -#wa_opt 'end_group' %>
  %option-group{name: 'multiple_games', visible: true, 'ng-show' => "tab.tab_type == 'memo_contest'"}
    = wa 'answers_limit'
  %option-group{name: 'invites', visible: 'true'}
    %text-property{dict:'invite.title', path: 'tab.setting.invite.title'}
    %text-property{dict:'invite.message', path: 'tab.setting.invite.message'}

