- tab_type = params[:tab_type]
- @tab_class::STEPS.each do |k|
  .edit-tab{:id => "edit-tab-#{k}"}
    %box{'data-title' => (t "steps.#{k}.title"), "ng-show" => "step=='#{k}'", "ng-animate" => "{show: 'slide-ent'}" }
      = render "/edit_tab/steps/#{k}"
