<div class="sub-navbar-wrapper full-width edit-app">
  <div class="sub-navbar" id="sub-navbar-edit-tab">
    <div class="align-middle">
      <p class="a-notunderlined ng-cloak">
        <a href="{{page.admin_url}}" target="_self" class="small-page">
          <img class="icon" ng-src="https://graph.facebook.com/{{page.fbid}}/picture?type=square"/>
          <span class="name">{{page.name}}</span>
        </a>
        <i class="icon-arrow-right"></i>
        {{ page.name }}
      </p>

      <div id="status" class="ng-cloak">
        <div class="ok align-middle"><img src="/images/status_ok.png"/>
          <strong><%= t 'saved' %></strong></div>
        <div class="error align-middle"><img src="/images/status_error.png"/>
          <strong><%= t 'error' %></strong></div>
        <div class="saving align-middle"><img src="/images/status_saving.gif"/>
          <strong><%= t 'saving' %></strong></div>
      </div>

      <div id="links-right">
        <%= t 'universal_link.label' %>: <a href="<%= @co.tab.universal_link %>"><%= @co.tab.universal_link %></a>
        <question-mark dict="universal_link"></question-mark>
        <a id="see-on-facebook" class="btn btn-primary" href="<%= @co.tab.tab_url %>" target="app">
          <i class="icon-eye-open icon-white"></i> <%= t 'see_on_facebook' %> »</a>
      </div>
    </div>
    <% if params[:action] == 'index' %>
        <% icons = {'basic' => 'wrench', 'advanced' => '', 'design' => 'picture', 'images' => 'picture',
                    'viral' => 'comment', 'partials' => 'pencil', 'publish' => 'share-alt'} %>
        <div class="btn-group" id="steps-nav">
          <% k = 0
             @co.tab.class::STEPS.each do |step| %>
              <a class="btn" ng-class="{active: step=='<%= step %>'}" ng-click="setStep('<%= step %>')"><span><%= k + 1 %></span>
                <i class="icon-<%= icons[step] %> icon-white"></i>
                <%= t 'steps.'+step+'.link' %></a>
          <% k += 1 end %>
        </div>
    <% end %>
  </div>
</div>
