%box{'data-title' => (t "add_page")}
  #add-page-form.form-horizontal.m-bottom0
    %div
      %h3= t('choose_page') + ':'
      %div
        .m-top2.align-middle{'n-show' => 'fbPages.count > 0'}
          %select#form-page-select{:name => "fbid", 'ng-model' => 'add.page', 'ng-options' => 'page.name for page in fbPages' }
          .btn.btn-success{:href => "#", 'ng-click' => "addPage()"}
            %i.icon-plus.icon-white
            = t 'add_page'
        %div{'ng-show' => 'fbPages.count == 0'}= t 'add_page_t.no_pages'
#add-page-modal.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Uzupełnij swoje dane
  .modal-body
    %p Żeby zarezerwować wybrany plan, uzupełnij swoje dane
  .modal-footer
    %a.btn{:href => "#"} Anuluj
    %a.btn.btn-success{:href => "#"}
      %i.icon-plus-sign.icon-white
      Edytuj swoje dane