- ['option', 'option_group', 'radio_button', 'text_property', 'select_property', 'color_picker', 'slider',
  		'box', 'select_font', 'upload_image', 'upload_file', 'alert', 'facebook_tab',
  		'user_small', 'compact_upload_image', 'background_pattern', 'partial_editor'].each do |id|
  %script{:id => "#{id}_template", :type => "text/ng-template"}
    = render "admin/ng/#{id}"
