- pages = @co.admin.fetch_pages # sitodo OMG to jest tak paskudnei rozwiązane!!!! do angularjs, raz powinnob yć pobierane
%box{'data-title' => (t ".header")}
  %div
    .align-middle
      %a.btn.btn-success{:href => "/admin/add_page"}
        %i.icon-plus.icon-white
        = t 'add_page'
      %a.btn{:href => "/admin/pages?refresh=1"}
        %i.icon-refresh
        {{'refresh_list' | t }}
    #pages-list
      - pages.each do |fbid, name|
        - p = Page.where(fbid: fbid).first
        - if p
          %a{:href => p.admin_url('tabs')}
            .item.align-middle
              %div
                %img{:alt => "fanpage {{p.fbid}}", :src => "https://graph.facebook.com/#{p.fbid}/picture"}/
              %div.inner
                .name= name
                -#%a.btn.btn-primary.btn-small{:href => p.admin_url} Show
                %a.btn.btn-primary.btn-small{:href => p.admin_url('tabs')} Tabs
    %p.help
      {{'admin.pages.not_all' | t}}
