%box{'data-title' => t('admin_settings') }
  %option-group{name: 'invoice_data', 'visible' => true}
    %form.form-horizontal
      - {name: [], nip: [], street: [], city: [], postal: []}.each do |k, v|
        .control-group
          %label.control-label{for: k}= t "invoice.#{k}"
          .controls
            %input{type: 'text', name: k, 'ng-model'=>"invoiceData.#{k}"}
      .control-group
        .controls
          %button.btn.btn-primary{type: 'submit', 'ng-click' => 'postInvoice()'}= t 'save'
  -#%option-group{name: 'admin_mailing', 'visible' => true}
    %form.form-horizontal
      .control-group
        .controls
          %label.checkbox
            %input{type: 'checkbox', 'ng-model'=>'admin.mailing_permission'}
            Wysyłaj informacje o zmianach i nowościach w serwisie (adres: {{admin.email}})
      .control-group
        .controls
          %button.btn.btn-primary{type: "submit", 'ng-click' => 'postMailing()'}= t 'save'



