<box data-title="<%= t 'answers' %>" class="clearfix cms" id="answers">
  <div>
    <a href="/tpl/tabs/answer_contest/cms/util/export_users.xls?tab_id={{tabId()}}" class="btn" target="_blank"><%= t 'export_users' %></a>
    <a href="/tpl/tabs/answer_contest/cms/util/export_answers.xls?tab_id={{tabId()}}" class="btn" target="_blank"><%= t 'export_answers' %></a>
  </div>
  <div class="nav-bar">
    <div class="pull-right">
      <%= t 'search' %>: <input ng-model="list.query.text" ng-change="list.search()"/>
    </div>
    <div class="pagination">
      <ul>
        <li ng-class="{disabled: list.currentPage == 0}">
          <a href ng-click="list.prevPage()">« <%= t 'previous' %></a>
        </li>
        <li ng-repeat="n in range(list.pagedItems.length)"
            ng-class="{active: n == list.currentPage}"
            ng-click="list.setPage()">
          <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: list.currentPage == list.pagedItems.length - 1}">
          <a href ng-click="list.nextPage()"><%= t 'next' %> »</a>
        </li>
      </ul>
    </div>
  </div>

  <table id="answer-table">
    <thead>
    <tr>
      <th class="votes_count" ng-click="sortBy('votes_count')"><i class=""></i> <%= t 'votes' %></th>
      <th class="created_at" ng-click="sortBy('created_at')"><i class=""></i> <%= t 'added' %></th>
      <th class="description"><%= t 'description' %></th>
      <th class="answer-content"><%= t 'answer' %></th>
      <th class="actions"><%= t 'actions' %></th>
      <th class="user-small"><%= t 'user' %></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="answer in list.pagedItems[list.currentPage]" class="item answer">
      <td class="votes_count">{{ answer.votes_count }}</td>
      <td class="created_at">{{ answer.created_at | date:'d/MM/yyyy, H:mm'}}</td>
      <td class="description">{{ answer.description }}</td>

      <td ng-show="answer.youtube_video" class="answer-content video">
        <a href="http://youtube.com/watch?v={{ answer.youtube_video.unique_id }}" target="_blank">
          <img ng-src="https://i.ytimg.com/vi/{{ answer.youtube_video.unique_id }}/default.jpg"/><br/>
          <span class="title">{{ answer.youtube_video.title }}</span></a>
      </td>
      <td ng-show="answer.image_url" class="answer-content image">
        <img ng-src="{{answer.thumb_url}}"/>
      </td>
      <td ng-show="answer.text_only" class="answer-content text">
      </td>
      <td class="actions">
        <button class="btn btn-small" ng-click="delete(answer)"><%= t 'delete' %></button>
        <button class="btn btn-small" ng-click="winner(answer)"><%= t 'winner' %></button>
        <br/>
        <%= t 'place' %>: {{ answer.winner || '-' }}
      </td>
      <td>
        <div user-small="{{answer.tab_user.user}}">
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</box>

<div class="modal hide fade" id="delete-answer-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3><%= t 'confirm_delete.header' %></h3>
  </div>
  <div class="modal-body">
    <%= t 'confirm_delete.message' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal"><%= t 'cancel' %></button>
    <button class="confirm btn btn-primary"><i
    class="icon-remove icon-white"></i> <%= t 'confirm' %></button>
  </div>
</div>

<div class="modal hide fade" id="winner-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3><%= t 'confirm_winner.header' %></h3>
  </div>
  <div class="modal-body">
    <%= t 'confirm_winner.message' %>
    <input type="text" name="winner">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal"><%= t 'cancel' %></button>
    <button class="confirm btn btn-primary"><%= t 'confirm' %></button>
  </div>
</div>
