<h1><%= t 'answer_contest.answers_list' %></h1>
<div id="answers-wrapper" class="clearfix" ng-controller="AnswersCtrl">
  <div id="list-nav" class="clearfix">
    <div>
      <span><%= t 'show' %>:</span>
      <div class="btn-group select">
        <a class="btn btn-tiny dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="current">{{ "filter."+filter | t }}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-click="filterBy('none')"><a href=""><%= t "filter.none" %></a></li>
          <li ng-click="filterBy('my')"><a href=""><%= t "filter.my" %></a></li>
          <li ng-click="filterBy('friends')"><a href=""><%= t "filter.friends" %></a></li>
          <li ng-show="vars.contest.status=='finished'" ng-click="filterBy('winners')">
            <a href="" onclick="return false"><%= t "filter.winners" %></a></li>
        </ul>
      </div>
    </div>
    <div>
      <span><%= t 'sort_str' %>:</span>

      <div class="btn-group" dropdown>
        <a class="btn btn-tiny dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="current">{{ "sort."+sort | t }}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-show="filter == 'winners'"><a href=""><%= t('sort.winner') %></a></li>
          <li ng-click="sortBy('created_at')"><a href=""><%= t('sort.created_at') %></a></li>
          <li ng-click="sortBy('votes_count')"><a href=""><%= t('sort.votes') %></a></li>
          <li ng-click="sortBy('likes_count')"><a href=""><%= t('sort.likes') %></a></li>
        </ul>
      </div>
    </div>

    <div class="pagination">
      <ul>
        <li ng-class="{disabled: list.currentPage <= 0}">
          <a href ng-click="list.prevPage()">«</a>
        </li>
        <li ng-show="'true'">
          <a href><%= t 'page_str' %> {{ list.currentPage + 1}} / {{list.pagedItems.length}}</a>
        </li>
        <li ng-class="{disabled: list.pagedItems.length <= 1 || (list.currentPage == list.pagedItems.length - 1)}">
          <a href ng-click="list.nextPage()">»</a>
        </li>
      </ul>
    </div>
    <div class="search">
      <span><%= t 'search' %>:</span> <input ng-model="list.query.text" ng-change="list.search()"/>
    </div>

  </div>
  <div id="answers" class="clearfix">
    <div ng-show='list.currentPage == -1' class="center">
      <%= t 'answer_contest.no_answers' %>
    </div>
    <div ng-repeat="answer in list.pagedItems[list.currentPage]" class="item answer" answer>
      <div ng-show="filter == 'winners'" class="place">
        <%= t 'place' %>: {{ answer.winner }}
      </div>
      <div class="person align-middle">
        <img ng-show="answer.tab_user" ng-src="https://graph.facebook.com/{{ answer.tab_user.user.fbid }}/picture?type=square"/>
        <img ng-show="answer.instagram_data" ng-src="{{ answer.instagram_data.user.profile_picture }}"/>
        <div>
            <span>
                <a ng-show="answer.tab_user" href="http://facebook.com/profile.php?id={{ answer.tab_user.user.fbid }}" target="_blank">
                  {{answer.tab_user.user.name}}</a>
              <a ng-show="answer.instagram_data" href="http://instagram.com/{{answer.instagram_data.user.username}}" target="_blank">{{answer.instagram_data.user.username}}</a>
            </span>
          <br/>
          <div class="added">{{answer.created_at | date:'d/MM, H:mm' }}</div>
        </div>
      </div>
      <div class="item-center" ng-click="view(answer._id)">
        <div ng-show="answer.youtube_video" class="video">
          <img class="video-thumb" ng-src="https://i.ytimg.com/vi/{{ answer.youtube_video.unique_id }}/hqdefault.jpg"/>
          <img class="play" src="/images/app/icon_play.png"/>
        </div>
        <div ng-show="answer.image_url" class="image">
          <img class="image-thumb" ng-src="https://socialinvaders.com{{answer.thumb_url}}"/>
        </div>
        <div ng-show="answer.text_only" class="text">
          {{ answer.description }}
        </div>
        <div ng-show="answer.instagram_data" class="instagram_item">
          <img class="image-thumb" ng-src="{{answer.instagram_data.images.low_resolution.url}}"/>
        </div>
      </div>
      <div class="votes-count">
        <%= t 'votes' %>: <span class="votes-count-nr">{{ answer.votes_count }}</span>
      </div>
      <div class="actions">
        <button class="like" ng-class="{liked: answer.liked}" ng-click="like(answer)">
          <i ng-class="{'icon-heart-empty': !answer.liked, 'icon-heart': answer.liked}"></i> {{ answer.likes_count }}
        </button>
        <button class="vote" ng-click="vote(answer)"><%= t 'vote' %></button>
      </div>
    </div>
  </div>
</div>
