%h1= @tab.question
#main-top{'ng-controller' => "AddCtrl"}
  #start-partial
    = w 'partial', :partial => Partial.new(@co.tab.res['partials']['start'])
  #add
  #add-thankyou= t 'answer_contest.thanks_for_answer'
  - if @tab.contest.status == 'running'
    #request-add
      - if @tab.answer_classes.include? 'text'
        - label = @tab.answer_classes.size == 1 ? t('answer_contest.add_answer') : t('answer_contest.add_text')
        %button{"ng-click" => "requestAdd('text')"}= label
      - if @tab.answer_classes.include? 'image'
        %button{"ng-click" => "requestAdd('image')"}= t 'answer_contest.add_image'
      - if @tab.answer_classes.include? 'video'
        %button{"ng-click" => "requestAdd('video')"}= t 'answer_contest.add_video'
  - elsif @tab.contest.status == 'finished'
    %a.btn{href: "#!/main/answers?filter=winners"} Zobacz zwycięskie odpowiedzi


= w 'contest_time'
