%h1= @tab.question
#view.answer.clearfix{"ng-controller" => "ViewCtrl", 'answer' => ''}
  .top-bar
    .author
      %img{'ng-show' => 'answer.instagram_data', "ng-src" => "{{ answer.instagram_data.user.profile_picture }}"}
      %a{'ng-show' => 'answer.instagram_data', href: "http://instagram.com/{{answer.instagram_data.user.username}}", target: "_blank"} {{answer.instagram_data.user.username}}
      %img{'ng-show' => 'answer.tab_user', "ng-src" => "https://graph.facebook.com/{{answer.tab_user.user.fbid}}/picture?type=square"}
      %a{'ng-show' => 'answer.tab_user', href: "http://facebook.com/profile.php?id={{answer.tab_user.user.fbid}}", target: "_blank"} {{answer.tab_user.user.name}}
    .votes-count
      #{t 'votes' }: <span class="votes-count-nr">{{ answer.votes_count }}</span>
    .actions
      %button.like(ng-class="{liked: answer.liked}" ng-click="like(answer)")
        <i ng-class="{'icon-heart-empty': !answer.liked, 'icon-heart': answer.liked}"></i> {{ answer.likes_count }}
      %button.vote(ng-click="vote(answer)")
        <i class='icon-plus'></i>
        = t 'vote'
      %button.share(ng-click="share(answer)")
        <i class='icon-share'></i>
        = t 'share'
  %div{:class => "inner-wrapper"}
    %img{:src => '/images/slider_left.png', 'ng-click' => 'prev()'}
    %div.inner.image{'ng-show' => "answer.instagram_data"}
      %img{'ng-src' => '{{answer.instagram_data.images.standard_resolution.url}}'}
    %div.inner.video{'ng-show' => "answer.youtube_video"}
      %div{'ng-bind-html-unsafe' => 'renderYoutube()'}
      %div= '{{answer.description }}'
    %div.inner.image{'ng-show' => "answer.image_url", 'ng-click' => 'next()'}
      %img{'ng-src' => '{{answer.image_url}}'}
      %div= '{{answer.description }}'
    %div.inner.text{'ng-show' => "answer.text_only", 'ng-click' => 'next()'}
      %div.textfill
        %span= '{{answer.description }}'
    %img{:src => '/images/slider_right.png', 'ng-click' => 'next()'}
    %div{'style' => 'margin-top: 10px'}
      %a{'href' => '{{ answer.opengraph_url }}', 'target' => '_blank'}=t 'permalink'
  .fb-comments(data-href="{{ answer.opengraph_url }}" data-width="570" data-num-posts="10")
