- content_for :content do
  = render 'admin/ng/sub_navbar'
  #main-wrapper
    #main.ng-view.fade-in{'ng-class' => "{'double-bar': showSubNavbar()}"}
      -#= content_for?(:content) ? yield(:content) : yield
  -#- if I18n.locale == :pl
    -#%script{:src => "http://app.sugester.pl/socialinvaders/widget.js", :type => "text/javascript"}
= render :template => 'layouts/admin_abstract'
