!!!
%html{lang: I18n.locale, class: 'admin_page'}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title Social Invaders admin
    %script(type="text/javascript" src="/tpl/#{I18n.locale}/translation.js")
    %base(href="/")
    %script(type="text/javascript" src="https://www.google.com/jsapi")
    = javascript_include_tag "lib"
    = javascript_include_tag "application"
    = javascript_include_tag("edit/edit")

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40974903-1');
      ga('send', 'pageview');
  %body.admin{'ng-controller' => 'AdminCtrl'}
    #page-wrapper
      .top-navbar-wrapper.navbar.navbar-fixed-top
        .top-navbar.navbar-inner
          .container
            .loading-container
              .loading-animation{'ng-class' => 'status'}
            %a.logo{:href => '/', :target => '_self'}
              %img{:src => "/images/logo_admin_top.png"}/
            %img#beta-admin{:src => "/images/beta.png"}/
            %ul.nav.pull-right
              / <li><a href="http://pomoc.socialinvaders.com" target="_blank">Pomoc</a></li>
              %li.divider-vertical
              %li.dropdown
                %a#profile.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :style => "margin-right: 5px"}
                  %img{:src => "https://graph.facebook.com/#{@co.admin.fbid}/picture?type=square"}/
                  = @co.admin.name
                  %b.caret
                %ul.dropdown-menu
                  - target = params[:controller] == 'edit_tab' ? '_self' : ''
                  %li
                    %a{:href => "/admin/pages", :target => target} {{'my_pages' | t}}
                    %a{:href => "/admin/settings", :target => target} {{'admin_settings' | t}}
                  / <li><a href="/account/account" id="my-account">Ustawienia konta</a></li>
                  / <li><a href="/invite_friends">polecanie system</a></li>
                  %li.divider
                  %li
                    %a{:href => "/admin/logout", target: '_self'}= t 'log_out'
      / /navbar
      = content_for?(:content) ? yield(:content) : yield
    :javascript
      vars = #{raw @co.admin_js_vars(params)};
    = render :partial => 'helper/facebook_init'
    - list = WebInfo.tabs_info; list.reject { |t| t[:alien] } if Rails.env.production?
    %script#IntercomSettingsScriptTag
      var intercomSettings = vars.intercomSettings;
    :javascript
                    window.tabs_info = #{raw list.to_json};

        (function () {
          function async_load() {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://api.intercom.io/api/js/library.js';
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
          }

          if (window.attachEvent) {
              window.attachEvent('onload', async_load);
          } else {
              window.addEventListener('load', async_load, false);
          }
       })();
       google.setOnLoadCallback(function () {
              angular.bootstrap(document, ['admin']);
       });

       (function () {
                var uv = document.createElement('script');
                uv.type = 'text/javascript';
                uv.async = true;
                uv.src = '//widget.uservoice.com/0nI020GQ71RQG72PkgqMEQ.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(uv, s)
            })();

            UserVoice = window.UserVoice || [];
            UserVoice.push(['showTab', 'classic_widget', {
                mode: 'full',
                primary_color: '#cc6d00',
                link_color: '#007dbf',
                default_mode: 'support',
                forum_id: 208547,
                tab_label: 'Feedback & Support',
                tab_color: '#cc6d00',
                tab_position: 'bottom-left',
                tab_inverted: false
            }]);