- content_for :content do
- tab_type = @co.tab.tab_type
  %div
    - if I18n.locale == :pl
      = javascript_include_tag("jquery.ui.datepicker-pl")
    - if ['map', 'contact'].include? tab_type
      %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false&language=#{I18n.locale}", :type => "text/javascript"}

    %link{:href => "/css/jqueryui/jquery.ui.timepicker.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/jqueryui/jquery-ui-1.8.20.custom.css", :rel => "stylesheet", :type => "text/css"}
    = render 'edit_tab/sub_navbar_edit'
    #main-wrapper.full-width
      #main.ng-view{:class => "edit-app triple-bar #{tab_type}"}
        = content_for?(:content) ? yield(:content) : yield
      #preview-wrapper
        #preview-header
          .m-bottom1.align-middle{:style => "min-height: 30px"}
            %div{:style => "width: 180px"}
              %h4.inline-block= t 'tab_preview'
              %img#iframe-loading{:src => "/images/loading.gif", :style => "display: none"}/
            #preview-buttons.align-middle
              #preview-fangate.btn-group{"data-toggle" => "buttons-radio", "ng-show" => "fangate.state != 'off'", 'ng-animate' => "'fade'"}
                %button.btn{"ng-click" => "editTab.setPreviewLiked('not_liked')"}= t 'for_not_fans'
                %button.btn.active{"ng-click" => "editTab.setPreviewLiked('liked')"}= t 'for_fans'
              #preview-target.btn-group{"data-toggle" => "buttons-radio"}
                %button.btn.active{"ng-click" => "editTab.setPreviewDevice('desktop')"}
                  %i.icon-laptop.icon-2x
                %button.btn{"ng-click" => "editTab.setPreviewDevice('tablet')", 'data-toggle'=>"tooltip"}
                  %i.icon-tablet.icon-2x
                %button.btn{"ng-click" => "editTab.setPreviewDevice('phone')", 'data-toggle'=>"tooltip"}
                  %i.icon-mobile-phone.icon-2x
        #preview-content.align-middle
          %iframe#preview.desktop{:frameborder => "0", :scrolling => "yes", :src => @co.tab.tab_url(nil, false, 'desktop')}
    -#- if @co.alien?
      #alien-panel
        %div
          %strong Alien panel
        %a{:href => "/alien/default/dbobject?coll=app&id=#{@co.tab.id}", :target => "dbobject"} dbobject
= render :template => 'layouts/admin_abstract'