!!!
%html{:lang => I18n.locale, "ng-app" => "tab"}
  %head
    %meta{:charset => "utf-8/"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "pl", :name => "language"}/
    %title
      Social Invaders #{@tab.tab_type if @tab}
    = stylesheet_link_tag "tab_si", :media => "all"
    = javascript_include_tag "tabs/_tab"
    #page
      - if @co
        = render 'w/top_panel' unless @co.preview
      = content_for?(:content) ? yield(:content) : yield
      - if @co && !@co.preview
        = w 'footer'
    #fb-root
    :javascript
      var vars = {};
      function init() {
          FB.Canvas.setSize();
      }
      window.fbAsyncInit = function () {
          FB.init({
              appId:'#{@fb.app_id}',
              status: true,
              cookie: true,
              xfbml: true,
              oauth: true,
              channelUrl: 'http://socialinvaders.com/web/channel'
          });
          FB.Canvas.setAutoGrow();
          fbInitDef.resolve();
      };
      (function () {
          var e = document.createElement('script');
          e.async = true;
          e.src = document.location.protocol +
                  '//connect.facebook.net/pl_PL/all.js';
          document.getElementById('fb-root').appendChild(e);
      }());
