<%- content_for :tab_wrapper do %>
    <%= render 'w/top_panel' unless @co.preview %>
    <div id="content" class="app-content boxes-parent">
      <% if @tab.draw_fangate(@co, @fb) == 'popup' %>
          <div id="fangate-modal">
            <div id="fangate-modal-inside">
              <div class="upper align-middle">
                <img class="like" src="/images/like.png"/>
                <p><%=t 'like_our_page' %></p>
                <img class="pointer" src="/images/like-pointer.png" style="marsgin-left: 250px"/>

              </div>

              <!--<div id="must-like-box">-->
                <!--<fb:like-box href="<%= @tab.page.link %>" width="362" show_faces="false" stream="false"-->
                             <!--header="false"></fb:like-box>-->
              <!--</div>-->
            </div>
          </div>
      <%- end %>
      <%- if @tab.draw_fangate(@co, @fb) == 'static' %>
          <%= w 'partial', {partial: Partial.new(@tab.res['partials']['fangate'])} %>
      <%- else %>
          <%= w 'property_image', {id: 'images.header', cls: 'header center-block'} %>
          <%= content_for?(:tab) ? yield(:tab) : yield %>
      <%- end %>
    </div>
    <!--<%# if !@co.preview %>-->
        <%= w 'footer' %>
    <!--<%# end %>-->
<%- end %>
<%= render :template => 'layouts/tab_wrapper' %>