!!!
%html{:lang => I18n.locale, "ng-app" => "tab"}
  %head
    %meta{:charset => "utf-8/"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "pl", :name => "language"}
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"}
    - @co.tab.opengraph_meta.each do |property, content|
      %meta{property: property, content: h(content)}

    -#<meta property="og:description"
    -#%base(href="/")
    <!--[if lte IE 8]>
    = javascript_include_tag "json3.min"
    <![endif]-->
    %title
      Social Invaders #{@tab.type_name}
    %script(type="text/javascript" src="/web/translation.js?locale=#{I18n.locale}")
    = javascript_include_tag "tabs/tab"
    = javascript_include_tag "tabs/#{@tab.tab_type}/#{@tab.tab_type}"
    = stylesheet_link_tag "tab_si", :media => "all"
    = raw Looks::StyleFactory.styles_links(@tab.design)
    = csrf_meta_tags
    - if @tab.setting.analytics
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{@tab.setting.analytics}']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    - cls = @tab.draw_fangate(@co, @fb) ? 'fangate' : 'not-fangate'
    - cls += ' preview' if @co.preview
    - cls += ' fangate-modal' if @tab.draw_fangate(@co, @fb) == 'popup'
    - cls += ' layout'+ @tab.design.layout['id'].to_s  if @tab.design.layout['id']
    - cls += " layout-#{@tab.design.layout['type']}"
    - cls += " on-facebook" if !params['device'] || params['device'] == 'desktop'
  %body{:class => cls}
    #page
      = content_for?(:tab_wrapper) ? yield(:tab_wrapper) : yield
    = render :partial => 'helper/facebook_init'
    :javascript
      var vars = #{raw @tab.js_vars(@co, @fb).to_json};
