!!!
%html{:lang => I18n.locale, 'ng-app' => 'web', class: 'web'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => (t 'meta.keywords'), :name => "keywords"}
    %meta{:content => (t 'meta.description'), :name => "description"}
    %meta{:content => (t 'meta.og_title'), :property => "og:title"}
    %meta{:content => "https://socialinvaders.com/", :property => "og:url"}
    %meta{:content => (t 'meta.description'), :property => "og:description"}
    %meta{:content => "website", :property => "og:type"}
    %base(href="/")

    %meta{:content => "https://socialinvaders.com/images/aliens/single_dark_bg.png", :property => "og:image"}
    -#%meta{:content => "apps@socialinvaders.com", :property => "og:email"}
    -#%meta{:content => "+48 881 555 511", :property => "og:phone_number"}
    %meta{:content => GlobalTabParams.admin_app_fbid, :property => "fb:app_id"}

    %title Social Invaders
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"}
    = stylesheet_link_tag "application", :media => "all"
    %script(type="text/javascript" src="https://www.google.com/jsapi")
    = javascript_include_tag "lib"
    = javascript_include_tag "application"
    = javascript_include_tag "ext"
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40974903-1');
      ga('send', 'pageview');
  %body.web{:class => params[:action]}
    #page-wrapper
      %header#header-wrapper
        .colored-line.top-line
          .colors
            - ['red', 'yellow', 'green', 'blue'].each do |color|
              .color-part{:class => "#{color}-bg"}

        #header.clearfix
          -##likebox-wrapper
            .likebox
              .fb-like-box{"data-header" => "false", "data-height" => "186", "data-href" => "https://www.facebook.com/pages/social-invaders/196485280450173", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "342"}
            .hover
              %img{:src => "http://social-invaders.com/images/facebook-wrapper-hover.png"}
          .social
            .fb-like(data-href="http://www.facebook.com/socialinvaders" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false")
            %a{href: 'http://www.facebook.com/socialinvaders', target:'_blank'}
              %i.icon-facebook-sign.icon-2x
            %a{href: 'https://twitter.com/InvadersApps', target:'_blank'}
              %i.icon-twitter.icon-2x
            -#%a(href="https://plus.google.com/109778468873155105042" rel="publisher" target='_blank's)
              %i.icon-google-plus.icon-2x
            #language
              - if I18n.locale == :pl
                -#%i{class: 'icon-mail-forward', style: 'color: white'}
                %a{:href => "/en?save_locale=true", target: '_self'}
                  %span.choice
                    %img{:src => "/images/icons/uk_flag.gif"}
                    EN
              - else
                -#%i{class: 'icon-mail-forward', style: 'color: white'}
                %a{:href => "/pl?save_locale=true", target: '_self'}
                  %span.choice
                    %img{:src => "/images/icons/pl_flag.gif"}
                    PL
            -#%div{style: 'text-align: right'}
              %input{type: 'text', placeholder: 'Newsletter...'}
              %button.btn.btn-primary Save

          %a.top-brand{:href => "/"}
            %img#logo{:alt => "header", :src => "/images/w_logo.png"}
            #aliens
              %img{:alt => "social invaders", :src => "/images/w_header_aliens.png"}
              .alien-eyes.blinking{:style => "right: 187px; top: 15px"}
                .eye{:style => "right: 21px;"}
                  %div
                .eye
                  %div
              .alien-eyes.tracking{:style => "right: 136px;"}
                .eye
                  %div
              .alien-eyes{:style => "right: 64px; top: 14px"}
                .eye
                  %div
                .eye{:style => "right: 21px;"}
                  %div
              .alien-eyes.tracking{:style => "right: 11px; top: 19px"}
                .eye{:style => "right: 18px;"}
                  %div
                .eye
                  %div
          #beta beta
          %nav
            %div.left
              - {index: ['/'], apps: ['/apps'], faq: ['/faq'], pricing: ['/pricing'], nerds: ['/nerds']}.each do |k, v|
              - next if ['faq', 'nerds'].include? k.to_s
              - href = k.to_s == 'index' ? v[0] : "/#{I18n.locale}" + v[0]
                %a{href: href, 'when-active' => ''}= t ('nav.'+k.to_s)
            -#- if I18n.locale == :pl
            .connect{:href => '', 'ng-click' => 'login()'}
              %span
                %i.icon-facebook
              %span= t 'log_in_register'
      #main-wrapper.clearfix
        %div{style: ""}
          #main.ng-view.ng-cloak.fade-right
            = content_for?(:content) ? yield(:content) : yield
            %h1 Best Wildfire App alternative for Facebook applications
      #cookies-footer{style: 'display: none'}
        - if I18n.locale == :pl
          Nasza strona używa cookies. Dowiedz się więcej, przeczytaj <a href="">naszą politykę prywatności</a>.
          Korzystając ze strony wyrażasz zgodę na używanie cookie, zgodnie z aktualnymi ustawieniami przeglądarki.
        - else
          Our site use cookies. By using our site, you agree to use cookies.
    = render :partial => 'web/footer'
    - list = WebInfo.tabs_info; list.reject { |t| t[:alien] } if Rails.env.production?
    :javascript
      vars = #{raw @co.admin_js_vars(params)};
      (function () {
          var uv = document.createElement('script');
          uv.type = 'text/javascript';
          uv.async = true;
          uv.src = '//widget.uservoice.com/0nI020GQ71RQG72PkgqMEQ.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(uv, s)
      })();
              window.tabs_info = #{raw list.to_json};

      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#cc6d00',
          link_color: '#007dbf',
          default_mode: 'support',
          forum_id: 208547,
          tab_label: 'Feedback & Support',
          tab_color: '#cc6d00',
          tab_position: 'middle-right',
          tab_inverted: false
      }]);

    = render :partial => 'helper/facebook_init'
    -#- if I18n.locale == 'pl'
      %script{:src => "http://app.sugester.pl/socialinvaders/widget.js", :type => "text/javascript"}
