<div>
  <% answer_length = @tab.answer_length %>
  <% if params[:selected_class] == 'text' %>
  <% elsif params[:selected_class] == 'video' %>
      <%=t 'answer_contest.paste_youtube_url' %>
      <br/>
      <input type="text"/>
      <img ng-show="previewLoading" id="busy" src="/images/loader.gif"/>

      <div ng-show="video" class="video-preview">
        <img ng-src="{{ video.thumbnail_url }}" alt="{{ video.title }}"/>

        <h3>{{ video.title }}</h3>
      </div>

  <% elsif params[:selected_class] == 'image' %>
      <div class="upload-image clearfix">
            <span class="btn btn-small fileinput-button">
                <i class="icon-plus"></i>
                <span><%= t 'upload_image' %></span>
                <input type="file" name="files[]">
            </span>
        <img ng-show="previewLoading" src="/images/loader.gif" ng-animation="{show: 'repeat-show', hide: 'repeat-hide'}"
             style='position: relative; top:5px'/>
        <br/>
        <img ng-show="file.thumb_url" class="image-preview" ng-src="{{ file.thumb_url }}"/>
      </div>
  <% end %>
  <% if answer_length != 0 %>
      <% toText = params[:selected_class] == 'text' ? "" : (t 'answer_contest.add_description') %>
      <p class="description"><%= toText %></p>

      <div class="description-input clearfix">
        <textarea maxlength="<%= answer_length %>"></textarea>

        <div id="chars"><span id="chars-left">0</span>/<%= answer_length %>
          znaków
        </div>
      </div>
  <% end %>
  <div class="accept-policy">
    <label><input type="checkbox" name="policy" value="value" checked="checked" ng-model="acceptTerms"/> <%= t 'answer_contest.i_accept_terms' %></label><br/>
    <% if @co.tab.mailing['enabled'] == 'true' %>
        <label><input type="checkbox" name="mailing_permission" value="value"/> <%= @co.tab.mailing['label'] %>
        </label>
    <% end %>
    <label><input type="checkbox" name="share" checked="checked" ng-model="explicitlyShared"/> <%=t 'share_on_timeline' %>
    </label>
  </div>
  <div class="response"></div>
  <div class="error">{{ error }}</div>
  <button class="post" ng-click="post()"><%= t 'save' %></button>
</div>


