
<box data-title="<%= t 'stats' %>" class="clearfix stats" id="stats">
  <div>
    <!--<a href="/tpl/tabs/answer_contest/cms/util/export_users.xls?tab_id={{tabId()}}" class="btn" target="_blank"><%= t 'export' %></a>-->
  </div>
  <div google-chart chart="events" style={{chart.cssStyle}}></div>
  <div google-chart chart="device" style={{chart.cssStyle}}></div>
</box>
