<%- content_for :menu do %>
    <nav id="menu" class="btn-group">
      <a href="#!/main/start" class="btn"><i class="icon-pencil icon-white"></i> <%= @tab.res['partials']['start']['name'] %></a>
      <a href="#!/main/answers" class="btn"><i class="icon-list icon-white"></i> <%=t 'submitted' %></a>
      <% k = 0; @tab.res['partials']['subpages'].each do |v| %>
          <a href="#!/main/subpage/<%= k %>" class="btn"><%= v['name'] %></a>
      <% k += 1 end %>
    </nav>
<%- end %>
<%= render :template => 'layouts/tabs/frame' %>