<%- content_for :tab do %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <div id="main-wrapper">
      <div id="header-controls">
        <!--        <div class="social-buttons">-->
        <!--            <a class="top-button" ng-click="App.share()" href="">Podziel się</a>-->
        <!--            <a class="top-button" href="">Zaproś znajomych</a>-->
        <!--        <a ng-click="App.invite()">-->
        <!--        </a>-->
        <!--        </div>-->
        <%= yield(:menu) %>
      </div>
      <div id="main-inner">
        <div id="main">
        </div>
      </div>
    </div>
    <div id="modal-msg" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{modal_msg.header}}</h3>
      </div>
      <div class="modal-body" >
        <p id="modal-msg-body"></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Ok</a>
      </div>
    </div>
<% end %>
<%= render :template => 'layouts/tab' %>