<%- content_for :menu do %>
    <nav id="menu" class="btn-group">
      <a href="#!/main/start" class="btn"><i class="icon-trophy icon-white"></i> <%= t 'contest' %></a>
      <a href="#!/main/ranking" class="btn"><i class="icon-list icon-white"></i> <%= t 'ranking' %></a>
      <% k = 0; @tab.res['partials']['subpages'].each do |v| %>
          <a href="#!/main/subpage/<%= k %>" class="btn"><%= v['name'] %></a>
      <% k += 1; end %>
    </nav>
<%- end %>
<%= render :template => 'layouts/tabs/frame' %>