%footer#footer-wrapper
  #footer
    %div
      .group
        %a{href: "/"}= (t "nav.index").downcase
        %a{href: "/#{I18n.locale}/apps"}= (t "nav.apps").downcase
        %a{href: "/#{I18n.locale}/pricing"}= (t "nav.pricing").downcase
      .group
        %a{href: "/#{I18n.locale}/terms"}= (t "nav.terms").downcase
        %a{href: "/#{I18n.locale}/privacy"}= (t "nav.privacy").downcase
    %div
      %p.inline-block
        = "#{t 'contact_str'}:"
        %a{:href => "mailto:apps@socialinvaders.com"} apps@socialinvaders.com
      #copyright
        © 2013
        %a{:href => "http://invaders.co"} invaders&co. All Rights Reserved.