- url = 'socialinvaders.com'
- name = 'Social Invaders'
- company = 'Digital Invaders'
%h1 Polityka Prywatności #{name}
%h3 §1. Wykorzystywane dane
%p
  W trakcie rejestracji zbierane są takie dane, jak: imię i nazwisko, adres e-mail, płeć. Za jednorazową
  zgodą Dostawca również może zbierać inne dane. Podczas Twojej wizyty również zbierane są inne dane, takie jak
  adres IP, rodzaj używanej przegladarki, które są potrzebne do optymalizacji działania witryny, i które
  mogą się przysłużyć do jej ulepszenia w przyszłości.
  Korzystanie z #{name} wymaga wyrażenia zgody na otrzymywanie
  wiadomości e-mail informujących o stanie Twojego konta, umożliwiających kontakt z działem
  support.

  Jeżeli dostaniemy zgodę na wysyłkę naszego newslettera, informacje o zmianie oferty i funkcjonalności
  naszych usług, a także o nowościach będziesz od nas otrzymywać drogą elektroniczną.

  Nie wykorzystujemy zebranych danych do wysyłania niezamówionej informacji handlowej.
  W przypadku naruszenia prawa przez naszych użytkowników, możemy udostępnić ich dane organom wymiaru sprawiedliwości.
  Dane zebrane podczas korzystania z systemu mogą być użyte do statystycznej analizy zachowań użytkowników.
%h3 §2. Ochrona prywatności
%p
  Przywiązujemy dużą uwagę do ochrony prywatności użytkowników korzystających
  z naszych usług. Komunikacja między Twoim komputerem a naszym serwerem jest zaszyfrowana przy użyciu protokołu
  SSL, gdy zbieramy Twoje dane osobowe. Nasze bazy danych zabezpieczone są przed wglądem osób trzecich.
%h3 §3. Wykorzystanie informacji przez firmy i podmioty trzecie
%p
  Niektóre aplikacje mają funkcjonalności umożliwiające innym podmiotom zbieranie danych osobowych użytkowników.
  Dane te są gromadzone na zasadzie oddzielnej, ustalanej przez nie polityki prywatności, oraz przechowywane przez nie.
  Sposób wykorzystania tych danych jest zawarty w regulaminie opublikowanym w aplikacji #{name} stworzonej przez dany
  podmiot.
%h3 §4. Udostępnianie informacji podmiotem trzecim
%p
  Nie sprzedajemy danych osobowych użytkowników podmiotom trzecim.
  Możemy przedstawić współpracującym stronom trzecim zestawienia statystyczne dotyczące aplikacji, w sposób anonimowy,
  nie pozwalające na identyfikację poszczególnych użytkowników.
%h3 §5. Cookies
%p
  #{name} wykorzystuje pliki cookies w celu personalizacji działania Aplikacji. Pliki cookies służą identyfikacji
  Twojej przeglądarki podczas korzystania z naszej strony. Pliki cookies są przechowywane na komputerze użytkownika
  i są przesyłane przy ponownym połączeniu z serwisem. W plikach cookies nie przechowujemy żadnych danych
  osobowych.
%h3 §6. Zmiany w Polityce Prywatności
%p
  Zastrzegamy sobie prawo do zmiany powyższej polityki prywatności. O wszelkich zmianach użytkownicy zostaną
  poinformowani, a dalsze korzystanie z #{name} będzie oznaczało akceptację zmian.
  Aktualna wersja Polityki Prywatności #{name} jest dostępna pod adresem internetowym:
  <a href='https://socialinvaders.com/pl/privacy' target='_blank'>https://socialinvaders.com/pl/privacy</a>.