<% page = @co.page
   h = page ? (t 'add_tab_to') + "<strong>#{page.name}</strong>" : (t 'web_apps.our_apps') %>
<div id="web-apps">
  <section>
    <div class="clearfix" id="directory">
      <%= raw "<box data-title='"+h+"'>" if params[:action] == 'add_tab' %>
      <%= raw "<h1>#{raw h}</h1>" if params[:action] != 'add_tab' %>
      <div style="<%= "margin-top: -10px" if params[:action] != 'add_tab' %>" ng-controller="WebAppsCtrl">
        <div class="nav-bar">
          <ul class="nav nav-pills">
            <li data-ng-class="{active: appsParams.class =='all'}">
              <a href="" data-ng-click="appsParams.class = 'all'"><%= t 'web_apps.all' %></a>
            </li>
            <li data-ng-class="{active: appsParams.class =='basic'}">
              <a href="" data-ng-click="appsParams.class = 'basic'"><%= t 'web_apps.basic' %></a>
            </li>
            <li data-ng-class="{active: appsParams.class =='commerce'}">
              <a href="" data-ng-click="appsParams.class = 'commerce'"><%= t 'web_apps.commerce' %></a>
            </li>
            <li data-ng-class="{active:appsParams.class=='contest'}">
              <a href="" data-ng-click="appsParams.class = 'contest'"><%= t 'web_apps.contest' %></a>
            </li>
          </ul>
          <input type="search" data-ng-model="appsParams.q" data-ng-change="filter()" placeholder="<%=t 'web_apps.search' %>"/>
        </div>
        <div class="app-list clearfix">
          <div class="item app app-flipped hover panel"
               ng-repeat="tab in list" ng-animate="{enter: 'animated fadeInRight', leave: 'animated fadeOutLeft'}">
            <div class="front">
              <div class="pad">
                <img ng-src="/images/icons/tabs/{{ tab.full_tab_type }}.png" alt="{{ tab.name }} icon"/> <br/>
                {{ tab.name }}
              </div>
            </div>
            <div class="back">
              <div class="pad">
                {{ tab.description }}
                <!--<a class="btn more" href="/web/apps/{{ tab.tab_type }}" target="{{moreTarget}}">-->
                <!--<i class="icon-info-sign icon-white"></i> <%= t 'more' %></a>-->
                <a class="btn add" href="{{ tab.href }}" <%= raw 'ng-click="login()"' if [:action] != 'add_tab' %>><i class="icon-plus icon-white"></i> <%= t 'create' %>
                </a>
              </div>
            </div>

          </div>
          <div data-ng-hide="list.length > 0" data-ng-animate="{show: 'repeat-show', hide: 'repeat-hide'}">
            <%=t 'web_apps.list_empty' %>
          </div>
        </div>
      </div>
      <h3 style="padding-top: 30px; "><%= t 'web_apps.more_tabs_soon' %></h3>

      <div style="text-align: center; margin-top: 30px">
        <div class="fb-comments" data-href="http://socialinvaders.com<%= '/en' if I18n.locale == :en %>" data-num-posts="4" data-width="790"></div>
      </div>
      <%= raw '</box>' if params[:action] == 'add_tab' %>

    </div>
    <script>

    </script>
  </section>
</div>
