%section
  #pricing
    %h1= t 'pricing'
    %h3
      Wszystkie aplikacje dostępne są za darmo i będą darmowe przez przynajmniej 2 miesiące od dnia
      założenia. Poniższy cennik będzie obowiązywał w późniejszym okresie.
    %h2 Testowanie wszystkich aplikacji jest bezpłatne.
    #plans.row-fluid
      .plan.lite.span3
        %h3 Free
        .inner
          .pricelist
            .price
              Darmowy
          .description
            %ul.icons-ul
              <li><i class="icon-li icon-ok"></i>Aplikacje darmowe</li>
          .features
            %ul.icons-ul
              <li><i class="icon-li icon-thumbs-up"></i>Fangate</li>
              <li><i class="icon-li icon-picture"></i>Unikalny wygląd</li>
      .plan.premium.span9
        %h3 Premium
        .inner
          .pricelist
            - WebInfo::PRICING_LEVELS.each do |l|
              .price
                %span.pricenum= l[:pl].to_s + 'PLN'
                %span.month /msc
                %br
                .fans
                  = raw(l[:fans] + '<br/> fanów')
          .description
            %ul.icons-ul
              <li><i class="icon-li icon-ok"></i>Aplikacje darmowe</li>
              <li><i class="icon-li icon-ok"></i>Aplikacje konkursowe</li>
          .features
            %ul.icons-ul
              <li><i class="icon-li icon-thumbs-up"></i>Fangate</li>
              <li><i class="icon-li icon-picture"></i>Unikalny wygląd</li>
              <li><i class="icon-li icon-bullhorn"></i>Marketing wirusowy</li>
          .order
            %a.btn.btn-primary.btn-large{href: 'mailto:apps@socialinvaders.com?subject=Order'} Zamów
    %p *ceny netto. Do podanych cen należy doliczyć podatek VAT 23%
    %p
      Tworzymy również aplikacje dedykowane na zamówienie. Jeżeli jesteś zainteresowany, prosimy o
      <a href='mailto:apps@socialinvaders.com?subject=Agency'>kontakt</a>.
    %p
      Jeżeli reprezentujesz organizację charytatywną, to możesz korzystać ze wszystkich aplikacji za darmo, na zawsze - w takim
      wypadku <a href="mailto:apps@socialinvaders.com">napisz do nas</a>.
    -#80 pln - standard
    -#150 pln - premium - z konkursami, oraz mobile
    -#po kliku czekaut
    -#Możliwość schowania stopki Social Invaders (white label)
    -#Jeżeli reprezentujesz organizację charytatywną, możesz używać naszych rozwiązań za darmo.

