%section
  #pricing
    %h1= t 'pricing'
    %h2 Testing of all apps is free of charge
    #plans.row-fluid
      .plan.lite.span3
        %h3 Free
        .inner
          .price
            Free
          .description
            %ul.icons-ul
              <li><i class="icon-li icon-ok"></i>Free apps</li>
          .features
            %ul.icons-ul
              <li><i class="icon-li icon-thumbs-up"></i>Fangate</li>
              <li><i class="icon-li icon-picture"></i>Customized look</li>
      .plan.premium.span9
        %h3 Premium
        .inner
          .pricelist
            - WebInfo::PRICING_LEVELS.each do |l|
              .price
                %span.pricenum= l[:en].to_s + '$'
                %span.month /mo
                %br
                .fans
                  = raw(l[:fans] + '<br/> fans')
          .description
            %ul.icons-ul
              <li><i class="icon-li icon-ok"></i>Free apps</li>
              <li><i class="icon-li icon-ok"></i>Contest apps</li>
          .features
            %ul.icons-ul
              <li><i class="icon-li icon-thumbs-up"></i>Fangate</li>
              <li><i class="icon-li icon-picture"></i>Customized look</li>
              <li><i class="icon-li icon-bullhorn"></i>Viral marketing</li>

    %p *Tax not included
    %p
      We also create dedicated apps. If you're interested, don't hesitate to
      <a href='mailto:apps@socialinvaders.com?subject=Agency'>contact us</a>.
    %p
      If you represent charity organisation, you can use all our apps for free.
      In that case, <a href="mailto:apps@socialinvaders.com">contact us</a>.
    -#80 pln - standard
    -#150 pln - premium - z konkursami, oraz mobile
    -#po kliku czekaut
    -#Możliwość schowania stopki Social Invaders (white label)
    -#Jeżeli reprezentujesz organizację charytatywną, możesz używać naszych rozwiązań za darmo.
