%section
  #register
    %h1= t 'register'
    %form
      %fieldset
        %label.checkbox
          %input{type: 'checkbox', value: '', 'ng-model' => 'termsCheckbox'}
          Akceptuję <a href="/pl/terms" target="_blank">Regulamin</a>, oraz <a href="/pl/privacy" target="_blank">Politykę Prywatności</a> usług Social Invaders.
        %label.checkbox
          %input{type: 'checkbox', value: '', 'ng-model' => 'mailingCheckbox'}
          Chcę otrzymywać powiadomienia o nowościach drogą mailową.
        %p.error
          {{ error }}
      %button.connect{'ng-click' => 'post()'}
        %span
          %i.icon-facebook
        %span Zarejestruj się
