%section
  #register
    %h1= t 'register'
    %form
      %fieldset
        %label.checkbox
          %input{type: 'checkbox', value: '', 'ng-model' => 'termsCheckbox'}
          I accept <a href="/en/terms" target="_blank">Terms of use</a>, and <a href="/en/privacy" target="_blank">Privacy Policy</a> of Social Invaders.
        %label.checkbox
          %input{type: 'checkbox', value: '', 'ng-model' => 'mailingCheckbox'}
          Sign me on newsletter.
        %p.error
          {{ error }}
      %button.connect{'ng-click' => 'post()'}
        %span
          %i.icon-facebook
        %span Register
