#start
  %section#intro-wrapper
    %div
      #slides
        .slide
          %h1 Aplikacje wirusowe na Facebooka
          %p.claim
            Dostarczamy gotowe, łatwe w użyciu, personalizowalne aplikacje na Facebooka.
            Wspieramy marketing wirusowy, korzystamy z protokołu Open Graph.
          .right
            %img{src: '/images/slides/1.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Wypróbuj za darmo
        .slide
          %h1 Wersja mobile i statystyki
          %p.claim
            Nasze aplikacje wspierają urządzenia mobilne. Dostarczamy statystyk użycia naszych aplikacji.
          .right
            %img{src: '/images/slides/2.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Wypróbuj za darmo
        .slide
          %h1 Prosta instalacja zakładek
          %p.claim
            Instalacja i edycja zakładek jest łatwa. W ciągu paru minut, w prosty sposób stworzysz unikalną,
            idealnie dopasowaną do wyglądu Twojego fan page zakładkę.
          .right
            %img{src: '/images/slides/3.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Wypróbuj za darmo
  %section#second-section
    .clearfix
      .big-alien
        %img{:src => "/images/aliens/al.png"}
        .alien-eyes.tracking{:style => "left: 105px; top: 53px"}
          .big.eye
            %div
      #tabs-examples
        %h2 Przykładowe aplikacje
        %p.m-top1
          .type
            %img{src: '/images/icons/tabs/answer_contest.multi.png'}
            .right
              %h4= t "tab.answer_contest.multi.name"
              %p= t "tab.answer_contest.multi.hint"
              %a.btn{href: 'http://www.facebook.com/socialinvaders/app_453477868000148', target: '_blank'} Creative contest
          %br
          .type
            %img{src: '/images/icons/tabs/memo_contest.png'}
            .right
              %h4= t "tab.memo_contest.name"
              %p= t "tab.memo_contest.hint"
              %a.btn{href: 'http://www.facebook.com/socialinvaders/app_393460800726370', target: '_blank'} Dobierz obrazki
          %br
          .type
            %img{src: '/images/icons/tabs/youtube.png'}
            .right
              %h4= t "tab.youtube.name"
              %p= t "tab.youtube.hint"
              %a.btn{href: 'http://www.facebook.com/leszekmozdzer/app_370950132928871', target: '_blank'} Leszek Możdżer Official
          %br
          .type
            %img{src: '/images/icons/tabs/topfans.png'}
            .right
              %h4= t "tab.topfans.name"
              %p= t "tab.topfans.hint"
              %a.btn{href: 'http://www.facebook.com/kozminski/app_255426521264413', target: '_blank'} Ranking Fanów

      %h4.all-apps
        \...listę wszystkich aplikacji znajdziesz
        %a{:href => "/pl/apps"} tutaj.
  %section#features-section
    %div
      #features.row-fluid
        .span4
          %h4
            %i.icon-bullhorn.icon-3
            Marketing wirusowy
          %p
            Nasze aplikacje wspierają marketing wirusowy. Na każdej zakładce można umieścić fan gate
            \- stronę wymagającą polubienie fan page. Korzystamy z Open Graph - jest to najskuteczniejszy sposób
            dzielenia się akcjami w aplikacjach Facebook.
        .span4
          %h4
            %i.icon-html5
            Interfejs HTML5
          %p
            Wszystkie nasze zakładki posiadają szybką, responsywną nawigację, która nie przeładowuje strony. Nasze
            rozwiązania, oparte na najnowszej technologii frontendowej, są interaktywne i pełne animacji. Wygląd każdej
            aplikacji
            można personalizować.
        .span4
          %h4
            %i.icon-heart
            Użyteczność & UX
          %p
            Staramy się, żeby nasze aplikacje były nie tylko funkcjonalne, ale również przyjemne w obsłudze. Bardzo
            dbamy
            o użyteczność i szybkość naszych rozwiązań. Mechanizmy naszych zakładek oparte są na wieloletnim
            doświadczeniu w tworzeniu aplikacji do kampanii reklamowych na Facebooka i maksymalizują efektywność -
            przyrost fanów i zainteresowania marką.
      %p.row-fluid
        Moglibyśmy jeszcze długo pisać, czemu lubimy nasze zakładki. Zamiast tego
        = succeed "." do
          %a{:href => "", "ng-click" => "login()"} zapraszamy do środka
        = succeed "" do
          %br/
        Jesteśmy pewni, ze Ci sie spodoba.
  %section
    %div{style:"text-align: center; margin-top: 30px"}
      <div class="fb-comments" data-href="http://socialinvaders.com" data-num-posts="4" data-width="790"></div>

