#start
  %section#intro-wrapper
    %div
      #slides
        .slide
          %h1 Viral Facebook apps
          %p.claim
            We deliver opinionated, easy to use, viral, customizable social media apps.
            We support viral marketing and use Open Graph protocol.
          .right
            %img{src: '/images/slides/1.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Sign up
        .slide
          %h1 Mobile version & statistics
          %p.claim
            Our apps support phones and tablets. We deliver stats of our apps use.
          .right
            %img{src: '/images/slides/2.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Sign up
        .slide
          %h1 Easy tabs installation
          %p.claim
            Installation and edition of tabs is easy. In a few minutes you will create unique tab,
            ideally fit to your fan page looks.
          .right
            %img{src: '/images/slides/3.jpg'}
          %button.btn.btn-large.btn-primary{'ng-click'=>'login()'} Sign up
  %section#second-section
    .clearfix
      .big-alien
        %img{:src => "/images/aliens/al.png"}
        .alien-eyes.tracking{:style => "left: 105px; top: 53px"}
          .big.eye
            %div
      #tabs-examples
        %h2 Sample apps
        %p.m-top1
          .type
            %img{src: '/images/icons/tabs/answer_contest.multi.png'}
            .right
              %h4= t "tab.answer_contest.multi.name"
              %p= t "tab.answer_contest.multi.hint"
              %a.btn{href: 'http://www.facebook.com/socialinvaders/app_453477868000148', target: '_blank'} Creative contest
          %br
          .type
            %img{src: '/images/icons/tabs/memo_contest.png'}
            .right
              %h4= t "tab.memo_contest.name"
              %p= t "tab.memo_contest.hint"
              %a.btn{href: 'http://www.facebook.com/socialinvaders/app_393460800726370', target: '_blank'} Memo game
          %br
          .type
            %img{src: '/images/icons/tabs/youtube.png'}
            .right
              %h4= t "tab.youtube.name"
              %p= t "tab.youtube.hint"
              %a.btn{href: 'http://www.facebook.com/leszekmozdzer/app_370950132928871', target: '_blank'} Leszek Możdżer Official
          %br
          .type
            %img{src: '/images/icons/tabs/topfans.png'}
            .right
              %h4= t "tab.topfans.name"
              %p= t "tab.topfans.hint"
              %a.btn{href: 'http://www.facebook.com/socialinvaders?sk=app_255426521264413', target: '_blank'} Top fans

      %h4.all-apps
        \...list  of all tabs can be found
        %a{:href => "/pl/apps"} here.
  %section#features-section
    %div
      #features.row-fluid
        .span4
          %h4
            %i.icon-bullhorn.icon-3
            Viral marketing
          %p
            Our apps support viral marketing. You can insert fan gate on each tab - requiring any users
            to like your page before going further. We use Open Graph - most efficient way
            to share actions in Facebook applications.
        .span4
          %h4
            %i.icon-html5
            HTML5 interface
          %p
            All of our apps have fast, responsive navigation, that doesn't reload the page. Our solutions
            are based on cutting-edge frontend technology, they are interactive, and full of animations.
            Every tabs' design can be personalized.
        .span4
          %h4
            %i.icon-heart
            Usability & UX
          %p
            We want our apps to be not only functional, but also a pleasure to use.
            We care a lot about usability and speed of our solutions.
            We have lots of experience in building software for advertising
            campaigns on Facebook. Mechanics in our apps maximizes efficiency in gaining
            new fans, and raising your brand awareness.
      %p.row-fluid
        We could write lots more, why we love our tabs. Instead,
        = succeed "." do
          %a{:href => "", "ng-click" => "login()"} come inside and look around
        = succeed "" do
          %br/
        We think, that you will like it.
  %section
    %div{style:"text-align: center; margin-top: 30px"}
      <div class="fb-comments" data-href="http://socialinvaders.com/en" data-num-posts="4" data-width="790"></div>

