- url = 'socialinvaders.com'
- name = 'Social Invaders'
- company = 'Digital Invaders'
- paragraph = 0
%section
  #terms.policy.clearfix
    %h1
      Regulamin Usług #{name}
    %h3 § #{paragraph += 1}. Informacje ogólne.
    %ul
      %li
        Niniejszy regulamin (zwany dalej "Regulaminem") określa zasady świadczenia usług informatycznych za pośrednictwem strony
        internetowej <a href='#url'>#{url}</a>.
        -#Regulamin powstał na podstawie art. 8 ust. 1 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną.
      %li
        Podmiotem świadczącym usługi drogą elektroniczną zgodnie z postanowieniami ninejszego regulaminu, będącym właścicielem i twórcą
        jest "Digital Invaders Filip Sobczak" z siedzibą w Krakowie, ul. Łokietka 21b/29, 30-010 Kraków, NIP 6932136971, REGON 122407187.
    %h3 § #{paragraph += 1}. Definicje
    %ul
      %li Dostawca - właściciel serwisu, świadczący usługi zgodnie z postanowieniami niniejszego regulaminu.
      %li Regulamin – niniejszy regulamin.
      %li Usługa – usługi świadczone przez Dostawcę, określone na stronie #{url} na rzecz Użytkownika w systemie Software as a Service.
      %li Social Invaders – marka obejmująca produkt, znajdująca się pod opieką Dostawcy.
      %li Serwis społecznościowy – serwis, na którym funkcjonuje rozwiązanie #{name}, np. Facebook, Twitter.
    %h3 § #{paragraph += 1}. Akceptacja regulaminu
    %ul
      %li
        Rozpoczynając korzystanie z usług #{name} Użytkownik oświadcza, że rozumie i akceptuje, oraz zobowiązuje się do
        przestrzegania niniejszego Regulaminu oraz Polityki Prywatności.
      %li
        Dostawca zastrzega sobie prawo do zmiany niniejszego regulaminu.
        O wszelkich zmianach użytkownicy zostaną poinformowani, a dalsze korzystanie z Social Invaders będzie oznaczało
        akceptację zmian. Aktualna wersja Regulaminu #{name} jest zawsze dostępna pod adresem
        internetowym: <a href='https://socialinvaders.com/pl/terms'>https://socialinvaders.com/pl/terms</a>
    %h3 § #{paragraph += 1}. Przedmiot usług #{name}
    %ul
      %li
        Dostęp do usług #{name} Użytkownik uzyskuje każdorazowo poprzez zalogowanie się.
      %li
        W trakcie rejestracji automatycznie są pobierane dane osobowe z Facebooka - imię i nazwisko, płeć, identyfikator
        użytkownika na platformie Facebook. Opcjonalnie może zostać wyrażona zgoda do zapisu na newsletter #{name}.
      %li
        Użytkownik ponosi pełną odpowiedzialność za wykorzystanie wszelkich materiałów i treści wprowadzanych do usług
        #{name}. Wprowadzając te materiały i treści użytkownik oświadcza, że posiada do nich prawa autorskie, lub licencję na ich wykorzystanie.
      %li
        Użytkownik zobowiązuje się, że nie będzie publikował materiałów i treści zabronionych przez prawo.
      %li
        Użytkownik zobowiązuje się, że nie będzie używał usług #{name} w sposób niezgodny z regulaminem portalu Facebook, dostępnym
        pod adresem <a href='https://facebook.com/policies/' target='_blank'>https://facebook.com/policies/</a>.
      %li
        Użytkownik #{name} nie może zbierać, ani wykorzystywać danych zebranych za pomocą #{name} w celach innych, niż te, do których
        zostały przeznaczone - tj. realizacji promocji. W szczególności Użytkownik nie może przesyłać niezamówionych informacji handlowych.
        Jeżeli Użytkownik chce wykorzystać zebrane dane do swoich celów, musi zamieścić informację o tym w
        oddzielnym regulaminie załączonym do aplikacji, w której te dane zbiera.
      %li
        Dostawca może usunąć treści zamieszczone przez Użytkownika i/lub czasowo, lub trwale zablokować Użytkownikowi
        dostęp do usług #{name} w wypadku gdy:
        a) są one niezgodne z Regulaminem #{name}, b) są niezgodne z regulaminem portalu, na którym są zamieszczone,
        c) naruszają prawa autorskie, d) są niezgodne z prawem.
    %h3 § #{paragraph += 1}. Zamówienia i płatności
    %ul
      %li
        Usługa #{name} jest świadczona w formie abonamentu. W celu uzyskania dostępu do usługi, Użytkownik składa
        zamówienie na określony abonament i okres czasowy.
      %li
        W przypadku rezygnacji z usługi #{name} przed końcem abonamentu, wpłacona należność jest zwracana tylko w
        wypadku, gdy Dostawca w sposób wyraźny zaniedbał świadczenie usługi.
      %li
        Użytkownik po złożeniu i opłaceniu zamówienia otrzymuje fakturę na adres e-mail przydzielony użytkownikowi.
        Ponadto wszystkie faktury wystawione przez Dostawcę są dostępne w panelu Użytkownika #{name}.
    %h3 § #{paragraph += 1}. Prawa autorskie
    %ul
      %li
        Wszystkie dzieła zawarte w #{name}, w szczególności grafiki, teksty, oprogramowanie i funkcje, są chronione
        prawem autorskim. Nie dotyczy to zawartości aplikacji przesłanych przez użytkowników aplikacji, oraz wszelkich
        treści publikowanych w inny sposób przez strony trzecie.
      %li
        Dostawca zastrzega sobie prawo do użycia adresu aplikacji Użytkownika, zrzutów ekranów aplikacji Użytkownika, oraz
        wybranych statystyk aplikacji, w celu promocji usługi #{name}, w szczególności może użyć powyższych w artykułach i prezentacjach
        przedstawiających i promujących usługi #{name}.
    %h3 § #{paragraph += 1}. Ograniczona odpowiedzialność i gwarancja
    %ul
      %li
        Dostawca w ramach świadczenia usługi #{name} zobowiązuje się do stałego i nieprzerwanego świadczenia
        zamówionych usług w sposób ciągły i w wysokiej jakości.
      %li
        Dostawca nie ponosi odpowiedzialności za efekty czynników od Dostawcy niezależne, spowodowane przez
        czynniki zewnętrzne, takie jak: błędy związane z działaniem sieci Internet, awarie serwerów, itp.
      %li
        Dostawca nie ponosi odpowiedzialności za wszelkie szkody, które wynikają z działań, lub zaniedbań Użytkownika,
        w tym korzystania z usług #{name}, w sposób niezgodny z prawem, lub regulaminem Facebooka.
      %li
        Użytkownik może złożyć reklamację w dowolnym momencie świadczenia usługi. Dostawca rozpatrzy każdą reklamację
        do 14 dni od terminu zgłoszenia.

    = render 'privacy'
