.background-pattern
  = t "background_pattern_instruction"
  %br
  %img.prev{:src => '/images/slider_left.png', 'ng-click' => 'prev()'}
  %img.pattern{"style" => "background: url('{{value}}')", 'ng-click' => 'save()'}
  %img.next{:src => '/images/slider_right.png', 'ng-click' => 'next()'}
  %br
  %btn.btn.default{'ng-click' => 'default()'}=t "set_default"
