<div class="option">
  <p class="name">{{ name }}</p>
  <div class="colorpicker">
    <input type="text" class="color look-color {{ cls }}" value="{{ value }}" data-path="{{ path }}"/>
    <div class="picker"></div>
  </div>
</div>
