<div class="compact-upload-image" ng-style="myStyle">
  <img ng-show="value.url" ng-src="{{value.url}}"/>
  <input type="file" name="files[]">

  <p ng-style="pStyle">Wgraj<br/>{{ value.dim[0] }}x{{ value.dim[1] }}px</p>
</div>