<div ng-class="{'socialinvaders': siTab, 'not-socialinvaders': !siTab}"
     ng-animate="{hide: 'slide-up', show: 'slide-down'}" class="item align-middle" ng-show="visible()">
  <div class="social-invaders-tab" style="position: relative">
    <div ng-show="siTab" class="align-middle">
      <div class="timeline-icon m-right2">
        <img ng-src="{{iconUrl}}" alt="{{siTab.tab_type}} icon"/>
      </div>
      <button ng-click="deleteTab()" class="btn btn-mini" style="position: absolute; top: 0px; right: 15px;">
        <i class="icon-remove"></i> <%= t 'delete' %>
      </button>
      <div>
        <div class="m-bottom1 align-middle">
          <p class="m-bottom1">
            <strong>{{ siTab.type_name }}</strong>
            <sup>[{{ tabnr + 1 }}]</sup>
          </p>
        </div>
        <a class="btn btn-warning btn-small" target="_self"
           href="{{ siTab.edit_url }}"><i class="icon-pencil icon-white"></i> <%= t 'edit' %>
        </a>
        <a class="btn btn-warning btn-small" ng-show="siTab.cms_url"
           href="{{ siTab.cms_url }}"><i class="icon-list icon-white"></i> <%= t '.cms' %></a>
        <a class="btn btn-warning btn-small" ng-show="!production"
           href="{{ siTab.stats_url }}"><i class="icon-list-alt icon-white"></i> <%= t '.stats' %></a>

      </div>
    </div>
    <p ng-hide="siTab"><%= t 'tab_notSI' %></p>
  </div>

  <div class="every-tab">
    <div ng-show="fbTab">
      <div class="align-middle">
        <p><%= t 'name' %>:</p>
        <a ng-show="changeTabName == false" class="tab-name" href="{{ fbTab.link }}" target="tab">{{fbTab.name}}</a>
                    <span ng-show="changeTabName == true">
                      <form ng-submit="saveTabName()" style="display: inline-block">
                        <input type="text" class="input-tab-name" ng-model="fbTab.name"/>
                      </form>
                        <button ng-click="saveTabName()" class="btn btn-mini"><%= t 'save' %></button>
                    </span>
      </div>
      <div class="align-middle">
        <p><%= t 'actions' %>:</p>
        <button ng-click="changeTabName = true" class="btn btn-mini">
          <i class="icon-pencil"></i> <%= t 'change_name' %>
        </button>
        <a class="btn btn-mini" target="_blank"
           href="https://developers.facebook.com/pages/tab_image?pid={{page.fbid}}&app_id={{ fbTab.application.id}}">
          <i class="icon-picture"></i> <%= t 'change_icon' %>
        </a>

        <button ng-click="uninstallTab()" class="btn btn-mini">
          <i class="icon-remove"></i> <%= t 'uninstall_tab' %>
        </button>
      </div>
      {{ attrs.published }}
    </div>
    <div ng-hide="fbTab">
      <div class="align-middle">
        <p><%= t 'actions' %>:</p>
        <button ng-click="installTab()" class="btn btn-mini">
          <i class="icon-plus"></i> <%= t 'install_tab' %></button>
      </div>
    </div>
  </div>
</div>