<% value = Util.path_val(path)
   value = t(design.default_font) unless value
%>
<div class="option">
  <span class="name"><%= name %></span>

  <div class="btn-group font-select" <%= "default='1'" if defined? default %> ng-controller="FontSelectCtrl"
       data-property="<%= path %>">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
      <div class="name"><%= value %></div>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="font in fonts">
        <a href="#" ng-click="load(font)" data-value="font.value">
          <div class="name">{{ font.name }}</div>
          <div ng-show='font.value != ""' class="sample-wrapper">
            <img class="sample" ng-src="{{ font.image }}"/>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>