<div class="option-group" ng-class="{active: visible}" >
  <h5 class="option-group-title" ng-click="trigger()"><img src="/images/triangle.png"/>
    {{label}} <question-mark dict="{{ 'option_group.'+name }}"></question-mark></h5>
  <div class="toggled" ng-show="visible" ng-transclude ng-animate="{hide: 'slide-up', show: 'slide-down'}">
  </div>
</div>