<%  desc = 'sitodo' # Yii::t('web', C::$app->type . ".images.$id.description");
path = "images.#{id}" # // SITODO nie wiem co robię!!:D:DxDxD
val = Resource.get_or_create(@co.tab, path, :image)
#val = @co.tab.files['images'][id]

tabs_id = "tabs-image-#{id}"
dim = val['dim'][0] + 'x' + $val['dim'][1]   %>

<%= wa_opt 'radio_button', {path: "#{property.state}", list: Select::ON_OFF,
    tabs_id: tabs_id, name_prefix: "<strong class='label label-info'>#{dim}</strong>"} %>
<div id="<%= tabs_id %>">
  <div class="m-top2">
    <%= wa 'upload_image', {path: property} %>
  </div>
  <div>
  </div>
</div>