<div class="partial-editor">
  <option-group name='{{groupName}}' visible>
    <text-property path="tab.res.{{resPath}}.name" dict="subpage_menu_name"></text-property>
    <div class="actions" style="position: absolute; top: 0px; right: 15px;">
      <button ng-click="edit()" class="btn">
        <i class="icon-pencil"></i> {{ 'edit' | t }}
      </button>
      <button ng-show="isSubpage" ng-click="delete()" class="btn">
        <i class="icon-remove"></i> {{ 'delete' | t }}
      </button>
    </div>
    <div class="partial-wrapper"></div>
  </option-group>
</div>
