<div class="option">
  <p class="name">{{ dict+'.label' | t }}</p>
  <div class="btn-group" data-toggle="buttons-radio">
    <button class="btn btn-small" ng-repeat="k in keys(list)" ng-class="{active: value == k}"
            ng-click="setVal(k)">{{ 'select.'+list[k] | t }}
    </button>
  </div>
  <question-mark dict="{{ dict }}"></question-mark>
</div>
