<div class='option'>
  <p class='name'>{{ name }}</p>
  <div class='btn-group property-dropdown'>
    <a class='btn btn-small dropdown-toggle' data-toggle='dropdown' href='#'>
      <span class='chosen'>{{ 'select.'+list[value] | t}}</span>
      <span class='caret'></span>
    </a>
    <ul class='dropdown-menu'>
      <li ng-repeat="(k,v) in list" ng-class="{active: value == k}" ng-click="setVal(k)">
        <a href='#' onclick='return false'>{{ 'select.'+v | t }}</a>
      </li>
    </ul>
  </div>
  <question-mark dict='{{ path }}'></question-mark>
</div>
