.sub-navbar-wrapper.ng-cloak{'ng-show' => 'showSubNavbar()'}
  .sub-navbar.align-middle
    .btn-group
      %a#page-select.btn.dropdown-toggle.small-page{"data-toggle" => "dropdown", :href => "#"}
        %img.icon{"ng-src" => "https://graph.facebook.com/{{page.fbid}}/picture?type=square"}/
        %span.name {{page.name}}
        %span.caret{style: 'position: absolute; top: 4px; right: 5px'}
      %ul#page-select-dropdown.dropdown-menu
        %li{'ng-repeat' => '(id, v) in pages track by $index', 'ng-hide' => 'id == page.fbid'}
          %a{:href => "/page/tabs?page_fbid={{id}}"}
            %img.icon{"ng-src" => "https://graph.facebook.com/{{id}}/picture?type=square"}
            {{pages[id]}}
        %li
          %a.add-page.btn-success{:href => "/admin/add_page"}
            %i.icon-plus.icon-white
            = t 'add_page'
    %i.icon-arrow-right{:style => "margin: 0px 10px"}
    .btn-group
      %a{:class => "btn btn-primary", 'ng-class' => "{active: location.path() == '/page/tabs'}",
          :href => "/page/tabs?page_fbid={{page.fbid}}"}
        %i.icon-list.icon-white
        = t 'tabs'
    %span{'ng-show' => "tab"}
      %i.icon-arrow-right{:style => "margin: 0px 10px"}
      %span{'ng-show' => "tab"} {{tab.type_name}}
      %i.icon-arrow-right{:style => "margin: 0px 10px"}
      %span{'ng-show' => "location.path().match('cms') !== null"} CMS
      %span{'ng-show' => "location.path().match('stats') !== null"} Stats

      -#%a{:class => "btn btn-primary", 'ng-class' => "{active: location.path() == '/page/contests'}",
          :href => "/page/contests?page_fbid={{page.fbid}}"}
        %i.icon-calendar.icon-white
        = t 'contests'
