<div>
  <alert path="{{path}}"></alert>
  <div class="option">
    <p class="name">{{ dict+'.label' | t}}</p>
    <input type="text" ng-model="value">
    <!--<textarea ng-model="value"></textarea>-->
    <button ng-hide="dontSave" class="btn btn-primary" ng-click="save()"><%=t 'save' %></button>
    <question-mark dict="{{ dict }}"></question-mark>
  </div>
</div>