<div class="upload-image clearfix">
  <div class="pull-left" style="width: 200px;">
            <span class="btn btn-small fileinput-button">
                <i class="icon-plus"></i>
                <span>{{ 'upload_image' | t }}</span>
                <input type="file" name="files[]">
            </span>
    <button class="btn btn-mini" ng-click="delete()"><i class="icon-remove"></i> {{ 'delete' | t }}</button>
    <p ng-show="value.dim"><%= t 'upload_image_t.recommended_dim' %></p>
    <p><%= t 'upload_image_t.for_visibility' %></p>
  </div>
  <div ng-show="value.url" class="pull-right" ng-animate="'fade'">
    <img class="image-preview" ng-src="{{ value.url }}"/>
  </div>
</div>