-#- res = Resource.get_or_create(@co.tab, res_path, :file)
.upload-file
  .option
    %p.name {{ dict+'.label' | t}}
    .inner
      %a.filename{:target => "_blank", :href=> '{{value.url}}'} {{value.url}}
      %span.btn.btn-small.fileinput-button
        %i.icon-plus
        %span= t 'upload_file'
        %input{:name => "files[]", :type => "file"}/
      %btn.btn.btn-small{"ng-click" => "delete()"}
        %i.icon-remove
        = t 'delete'
      %question-mark(dict="{{ dict }}")

