<div class="user-small">
  <a href="https://facebook.com/profile.php?id={{user.fbid}}" target="_blank">
    <img ng-src="https://graph.facebook.com/{{user.fbid}}/picture?type=square"/>
    {{ user.name }}
  </a>
</div>