- locale = {pl: 'pl_PL', en: 'en_US'}
#fb-root
#ig-root
:javascript
  window.fbAsyncInit = function () {
      FB.init({
          appId:'#{@fb && @fb.app_id || GlobalTabParams::FB_PARAMS[:admin][0][:id]}',
          status: true,
          cookie: true,
          xfbml: true,
          oauth: true,
          channelUrl: '//socialinvaders.com/pl/channel'
      });
      FB.Canvas.setAutoGrow();

      var interval = setInterval(function() { // race condition
        if (typeof fbInitDef !== 'undefined') {
            fbInitDef.resolve();
            clearInterval(interval);
        }
      }, 100);
  };
  (function () {
      var e = document.createElement('script');
      e.async = true;
      e.src = document.location.protocol +
              '//connect.facebook.net/#{locale[I18n.locale]}/all.js';
      document.getElementById('fb-root').appendChild(e);
  }());
