<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
<body>
Powinieneś zostać przekierowany... jeśli to się nie dzieje,
<a href="<%= raw redirect_url %>">kliknij tutaj</a>
<script type="text/javascript">
    top.location.href = '<%= raw redirect_url %>';
</script>
</body>
</html>